*{
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/* Colors */

.coral{
    color: #ff533d;
}

.blue{
    color: #0f1626;
}

.casca{
    color: #f5f5f5;
}

.bege{
    color: #ab987a
}

.back-coral{
    background-color: #f0e9d9;
}

.back-blue{
    background-color: #0f1626;
}

.back-casca{
    background-color: #f5f5f5;
}

.back-bege{
    background-color: #ab987a;
}

.header-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;    
    background-color: #0f1626;     
}

.header-body h1, h3{
    color: #f5f5f5;
}
h3{
    font-size: 1.5rem;
}
.menu{
    display: flex;
    width: 35%;
    justify-content: space-between;
    list-style: none;
}
.menu li{
    color: #f5f5f5;
    font-size: 1.5rem;
}
.menu li:hover{
    color: #ff533d;
    cursor: pointer;  
    transition: 0.5s;  
}
h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: inherit;
    text-decoration: inherit; 
    font-size: 1.5rem;    
}
.name{
    /* border-left: 3px solid wheat; */
    border-top: 3px solid wheat;
    border-right: 3px solid wheat;    
    padding: 0.6rem;
}
li::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background: currentColor;    
    transform: translateX(50%);  
      
}
.title{  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.banner{
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navega{
    height: 10%;
    width: 100%;
    display: flex;    
    justify-content: center;
}

.right-side{
    width: 50%;
    height: 100%;
}
.left-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side li{
    color: #0f1626;
}
.line{
    width: 100%;
    display: flex; 
    height: 100vh;
}
.left-side h2{
    font-size: 4rem;
}