*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image:url("./image/background-artwork.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.027),rgba(0, 0, 0, 0.644) ,rgba(0, 0, 0, 0.822) , rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.822));
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.caixa{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

h1{
    margin-top: 7rem;
    font-size: 3.5em;
    color: #f1732a;
    margin-bottom: 1rem;
}
h3{
    margin-top: 5rem;
    font-size:1.5em;
    color: aliceblue;
    margin-bottom: 2rem;
}
td{
    color: aliceblue;
    text-align: center;
}
th{
    color: aliceblue;
    border-bottom: 1px aliceblue solid;
}
thead{
    margin-bottom: 1rem;
    
}
table{
    margin-top: 2rem;
}
textarea{
    resize: none;
    width: 100%;
    height: 10rem;
}


